@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: 'Inconsolata', monospace !important;
    background: #1a1b1e;
    color: #fff;
}
.logo {
    font-family: 'Dancing Script', cursive;
}
.line {
    background: rgb(249,250,251,0.5);
    width: 100%;
    height: 1px;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-top: 3rem;
}