@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: 'Inconsolata', monospace !important;
    background: #1a1b1e;
    color: #fff;
}
.logo {
    font-family: 'Dancing Script', cursive;
}